{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 class="h3 mb-3">Homme Page</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Card</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="col-auto">
                        <select class="form-control js-select-multiple" name="states[]" multiple="multiple">
                            <option>Christmas Island</option>
                            <option>South Sudan</option>
                            <option>Jamaica</option>
                            <option>Kenya</option>
                            <option>French Guiana</option>
                            <option>Mayotta</option>
                            <option>Liechtenstein</option>
                            <option>Denmark</option>
                            <option>Eritrea</option>
                            <option>Gibraltar</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="staticEmail2" class="visually-hidden">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
