parameters:
    directory: '%kernel.project_dir%/public/'
    key_secrets: '%env(KEY_SECRETS)%'
    iv: '%env(IV)%'
    
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Déclaration des handlers
    App\EventListener\Activity\MessageActivityHandler:
        arguments:
            $activity: '@App\EventListener\Contracts\Activity\ActivityMessageInterface'

    App\EventListener\Activity\UserActivityHandler:
        arguments:
            $activity: '@App\EventListener\Contracts\Activity\ActivityUserInterface'

    App\EventListener\Activity\FileMessageActivityHandler:
        arguments:
            $activity: '@App\EventListener\Contracts\Activity\ActivityFileMessageInterface'

    App\EventListener\Activity\SearchDiscussionActivityHandler:
        arguments:
            $activity: '@App\EventListener\Contracts\Activity\ActivitySearchDiscussionInterface'

    App\EventListener\Activity\SearchMessageActivityHandler:
        arguments:
            $activity: '@App\EventListener\Contracts\Activity\ActivitySearchMessageInterface'

    # Déclaration de ActivityRouter avec injection manuelle des handlers
    App\EventListener\Router\ActivityRouter:
        arguments:
            $handlers:
                - '@App\EventListener\Activity\MessageActivityHandler'
                - '@App\EventListener\Activity\UserActivityHandler'
                - '@App\EventListener\Activity\FileMessageActivityHandler'
                - '@App\EventListener\Activity\SearchDiscussionActivityHandler'
                - '@App\EventListener\Activity\SearchMessageActivityHandler'
                # Ajoute ici tous les autres handlers

    App\Services\Message\MessageSearchService:
        tags:
            - controller_service_arguments
        public: true
        arguments:
            - '@fos_elastica.finder.message'

    App\Services\Discussion\DiscussionSearchService:
        tags:
            - controller_service_arguments
        public: true
        arguments:
            - '@fos_elastica.finder.discussion'

    App\Services\File\FileUploader:
        arguments:
            $targetDirectory: '%directory%'

    App\EventListener\DatabaseActivitySubscriber:
        tags:
            - { name: 'doctrine.event_subscriber', connection: 'default' }

    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }
