{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="globe"></i>
        </div>
    </a>

    <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" 
            href="{{ currentPath|replace({'/en/': '/fr/'}) }}"
        >
            {{ 'French'|trans }}
        </a>
        <a class="dropdown-item"
            href="{{ currentPath|replace({'/fr/': '/en/'}) }}"
        >
            {{ 'English'|trans }}
        </a>
    </div>
</li>