body {
    background-color: #f5f4f4;
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
}

.pagination {
    flex-wrap: wrap;  /* Permet de revenir à la ligne */
    justify-content: center;  /* Centre les éléments */
    overflow-x: hidden;  /* Évite le défilement horizontal */
}

.scrollable {
    height: 600px;
    overflow-y: auto; /* Active la scrollbar verticale uniquement si besoin */
    padding: 10px;
    scroll-snap-type: y mandatory;
}

.scrollable strong {
    margin-bottom: end;
}