<div class="card">
	<div class="card-header">
		<div class="flex-grow-1">
			<small class="float-end text-navy">
				<a>
					<i class="fa fa-search-plus" 
						style="font-size:20px;color:#0080FF;"
						onclick="searchWithCriteriaClick(event)" 
						data-view="message"
						data-bs-toggle="tooltip" 
						data-bs-placement="top" 
						title="Search message"
						data-idDiscussion="{{ discussion.id }}" 
						data-page="1"
					>
					</i>
				</a>
			</small>
			<h5 class="card-title mb-0">
				{{ 'Messages'|trans }}
			</h5><br />
		</div>
	</div>
	<div class="card-body h-100">
		{% if messages is not empty %}
			{% for item in messages %}
				{% include 'message/message.html.twig' with {'item': item} %}
			{% endfor %}
		{% endif %}

		<div id="new_message"></div>

		{% include 'pagination/message/message_pagination.html.twig' with {
				'numbrePagesPagination': numbrePagesPagination,
				'page': page,
				'discussion': discussion
			}
		%}
	</div>
</div>
