<div class="d-flex align-items-start" id="item-message-block-for-delete-{{item.id}}">
	<div class="flex-grow-1">
		<strong>
			{% include 'message/avatars.html.twig' with {'item': item} %}
			{% include 'message/message_item_dropdown.html.twig' with {'item': item} %}
		</strong>
		<br />
		<div id="item-message-block-for-answer-{{item.id}}">
			{% include 'message/message_date.html.twig' with {'item': item} %}

			{% include 'message/message_answer.html.twig' with {'item': item} %}

			{% set searchMessage = searchMessage is defined ? searchMessage : null %}
			{% include 'message/message_content.html.twig' with {'item': item, 'alert': 'alert alert-secondary', 'searchMessage': searchMessage} %}
		</div>
	</div>
</div>
