<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">New message</h5>
    </div>
    <div class="card-body h-100">
        {{ form(formMessage, { attr: {'id': 'form_message' } }) }}
    </div>
</div>
